<div id="<%= dom_id categoria %>" class="ui green segment">

  <p>
    <strong><%= Categoria.human_attribute_name :nome %>:</strong>
    <%= categoria.nome %>
  </p>

  <p>
    <strong><%= Categoria.human_attribute_name :tipo %>:</strong>
    <%= categoria.tipo %>
  </p>

</div>