<div id="<%= dom_id cartao %>" class="ui green segment">

  <p>
    <strong><%= Cartao.human_attribute_name :apelido %>:</strong>
    <%= cartao.apelido %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :emissor %>:</strong>
    <%= cartao.emissor %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :bandeira %>:</strong>
    <%= cartao.bandeira %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :final_cartao %>:</strong>
    <%= cartao.final_cartao %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :fechamento_dia %>:</strong>
    <%= cartao.fechamento_dia %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :vencimento_dia %>:</strong>
    <%= cartao.vencimento_dia %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :limite_total %>:</strong>
    <%= cartao.limite_total %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :ativo %>:</strong>
    <%= cartao.ativo %>
  </p>

  <p>
    <strong><%= Cartao.human_attribute_name :timezone %>:</strong>
    <%= cartao.timezone %>
  </p>

</div>