<div class="ui segment">
  <%= form_for(@cartao, html: { class: 'ui form' }) do |f| %>
    <%= render partial: 'layouts/errors_messages', locals: { model: @cartao } %>

    <div class="required eight wide field">
      <%= f.label :apelido %>
      <%= f.text_field :apelido, style: 'text-transform: uppercase;' %>
    </div>

    <div class="required eight wide field">
      <%= f.label :emissor %>
      <%= f.text_field :emissor, style: 'text-transform: uppercase;' %>
    </div>

    <div class="required eight wide field">
      <%= f.label :bandeira %>
      <%= f.text_field :bandeira, style: 'text-transform: uppercase;' %>
    </div>

    <div class="eight wide field">
      <%= f.label :final_cartao %>
      <%= f.text_field :final_cartao, class: 'somente-numeros', inputmode: 'numeric', maxlength: 4, placeholder: 'Últimos 4 dígitos' %>
    </div>

    <div class="required eight wide field">
      <%= f.label :fechamento_dia %>
      <%= f.number_field :fechamento_dia, class: 'somente-numeros', inputmode: 'numeric', min: 1, max: 31 %>
    </div>

    <div class="required eight wide field">
      <%= f.label :vencimento_dia %>
      <%= f.number_field :vencimento_dia, class: 'somente-numeros', inputmode: 'numeric', min: 1, max: 31 %>
    </div>

    <div class="required eight wide field">
      <%= f.label :limite_total %>
      <%= f.text_field :limite_total, class: 'somente-numeros', inputmode: 'decimal', placeholder: 'Ex: 5000.00' %>
    </div>

    <div class="field">
      <div class="ui toggle checkbox">
        <%= f.check_box :ativo %>
        <%= f.label :ativo %>
      </div>
    </div>

    <div class="required eight wide field">
      <%= f.label :timezone %>
      <%= f.text_area :timezone, style: 'text-transform: uppercase;' %>
    </div>

    <div class="actions">
      <%= link_to t('helpers.links.cancel'), cartoes_path, class: 'ui button floated' %>
      <%= f.submit nil, class: 'ui green button' %>
    </div>
  <% end %>
</div>

<%# === jQuery: impede digitar letras onde só deve ter números === %>
<script>
    document.addEventListener("turbo:load", function() {
        $('.somente-numeros').on('input', function() {
            this.value = this.value.replace(/[^0-9.,]/g, '');
        });
    });
</script>
